.tower-menu
  display flex
  background grey
  padding 1em
  position absolute
  /* This makes the origin the bottom middle of the rectangle */
  transform translate(-50%, -100%)

  .tower
    width 50px
    height 75px
    border 2px solid transparent
    color lightgrey
    text-align center
    padding-top 5px
    
    &:nth-child(1n+2)
      margin-left 8px
    &[data-type=blue]
      border-color blue
      background blue
    &[data-type=brown]
      border-color brown
      background brown
    &[data-type=green]
      border-color green
      background green

    &.active
      border-color lightgrey